{# /templates/inicio.html.twig #}
{% extends 'layout_base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-8">
            <form method="get" class="form-inline">
                <input type="hidden" name="pagina" value="mostrar_feed">
                <div class="form-group col-md-10 mb-2">
                    <input class="form-control col-md-12" type="text" name="feed"
                           placeholder="https://mi_blog_favorito.com/feed"
                           value="{{ feed }}">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Mostrar feed</button>
            </form>
            <ul>
                {% for articulo in articulos %}
                    {% set host = articulo.link|split('/')[2] %}
                    <li><span class="small text-muted">{{ articulo.pubDate|date('d-m-Y') }} · {{ host|escape('html') }}</span>
                        <br><a href="{{ articulo.link|escape('html') }}">{{ articulo.title|escape('html') }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Mis feeds</div>
                <div class="card-body">
                    <ul>
                        {% for feed in feeds %}
                            {% set host = feed.url|split('/')[2] %}
                            <li><a href="index.php?pagina=mostrar_feed&feed={{ feed.url|escape('html') }}">{{ host|escape('html') }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
