{# /templates/inicio.html.twig #}
{% extends 'layout_base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-8">
            <form method="post" action="index.php?pagina=agregar_feed" class="form-inline">
                <div class="form-group col-md-10 mb-2">
                    <input class="form-control col-md-12" type="text" name="feed"
                           placeholder="https://mi_blog_favorito.com/feed"
                           value="{{ feed }}">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Nuevo feed</button>
            </form>
            <ul>
                {% for entrada in entradas %}
                    {% set host = entrada.link|split('/')[2] %}
                    <li><span class="small text-muted">{{ entrada.pubDate|date('d-m-Y') }} · {{ host }}</span>
                        <br><a href="{{ entrada.link }}">{{ entrada.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Mis feeds</div>
                <div class="card-body">
                    <ul>
                        {% for feed in feeds %}
                            {% set host = feed.url|split('/')[2] %}
                            <li><a href="{{ feed.url }}">{{ host }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
