{# /templates/inicio.html.twig #}
{% extends 'layout_base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block contenido %}
    <ul>
        {% for entrada in entradas %}
            <li><img src="{{ entrada.image.url }}"><a href="{{ entrada.link }}">{{ entrada.title }}</a>
                ({{ entrada.link }})
                <p>{{ entrada.pubDate|date('d-m-Y') }}</p>
                <p>{{ entrada.description }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
