{# /templates/inicio.html.twig #}
{% extends 'layout_base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block contenido %}
    <form method="post" action="index.php?p=mostrar_feed" class="form-inline">
        <div class="form-group col-md-8 mb-2">
            <input class="form-control col-md-12" type="text" name="feed" placeholder="https://mi_blog_favorito.com/feed"
                   value="{{ feed }}">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Mostrar feed</button>
    </form>
    <ul>
        {% for articulo in articulos %}
            {% set host = articulo.link|split('/')[2] %}
            <li><span class="small text-muted">{{ articulo.pubDate|date('d-m-Y') }} · {{ host }}</span>
                <br><a href="{{ articulo.link }}">{{ articulo.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
