{# /templates/mostrar_feed.html.twig #}
{% extends 'layout_base.html.twig' %}

{% block title %}Mostrar Feed{% endblock %}

{% block contenido %}
    <h3>{{ feed }}</h3>

    {% if articulos %}
        <div class="mt-4">
            <ul>
                {% for articulo in articulos %}
                    {% set host = articulo.link|split('/')[2] %}
                    <li><span class="small text-muted">{{ articulo.pubDate|date('d-m-Y') }}</span>
                        <br><a href="{{ articulo.link }}">{{ articulo.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% elseif feed %}
        <div class="alert alert-danger mt-4">
            <p>Parece que el feed introducido no es valido o no es compatible con Feederico.</p>
            <p><strong>{{ feed }}</strong></p>
            <p>Intenta cambiar la url a algo como:
            <ul>
                <li>https://mi_blog_favorito.com/feed</li>
                <li>https://mi_blog_favorito.com/rss</li>
                <li>https://mi_blog_favorito.com/atom.rss</li>
            </ul>
        </div>
    {% endif %}
{% endblock %}