{# /templates/agregar_feed.html.twig #}
{% extends 'layout_base.html.twig' %}

{% block title %}Agregar Feed{% endblock %}

{% block contenido %}
    {% if articulos %}
        <div class="alert alert-info mt-4">
            <p>Estos son los contenidos del feed que has indicado.<p>
            {% if feed_existe %}
                <p>El feed ya existe en tu base de datos</p>
            {% else %}
                <p><a href="index.php?pagina=confirmar_feed&feed={{ feed }}" 
                        class="btn btn-primary">Agregar a mis feeds</a></p>
            {% endif %}
        </div>
        <h4>{{ feed }}</h4>
        <div class="mt-4">
            <ul>
                {% for articulo in articulos %}
                    {% set host = articulo.link|split('/')[2] %}
                    <li><span class="small text-muted">{{ articulo.pubDate|date('d-m-Y') }}</span>
                        <br><a href="{{ articulo.link }}">{{ articulo.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% elseif feed %}
        <form method="get" class="form-inline">
            <input type="hidden" name="pagina" value="mostrar_feed">
            <div class="form-group col-md-8 mb-2">
                <input class="form-control col-md-12" type="text" name="feed"
                       placeholder="https://mi_blog_favorito.com/feed"
                       value="{{ feed }}">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Mostrar feed</button>
        </form>
        <div class="alert alert-danger mt-4">
            <p>Parece que el feed introducido no es valido o no es compatible con Feederico.</p>
            <p><strong>{{ feed }}</strong></p>
            <p>Intenta cambiar la url a algo como:
            <ul>
                <li>https://mi_blog_favorito.com/feed</li>
                <li>https://mi_blog_favorito.com/rss</li>
                <li>https://mi_blog_favorito.com/atom.rss</li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
